@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;}
    
/*Basico*/
body{
    font-family: 'Open Sans',sans-serif;
    color: #787878;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    background-color: #1e252d;
}
header{
	border-bottom: 2px solid #273F8A;
	margin-top: 15px;
}

ol, ul {
	list-style: none;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Open Sans', Sans Sarif;
    font-weight: 600;
    line-height: 0.9;
	letter-spacing: 0.075em;
	text-transform: uppercase;
	margin: 0 0 1rem 0;
}

p{
	font-family: sans-serif;
	margin:0;
	padding:0;
	line-height: 24px;
	font-size: 14px;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: none;
}

a:hover,a:active,a:focus {
	outline: 0 !important;
}

hr{

}

:focus {
	outline:none;
}

::-moz-focus-inner {
	border:0;
}
/*
* CSS Básico end.
*/
#contenedor-principal{
	display: inline-flex;
	flex-direction: row-reverse;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: stretch;
	margin-left: 12%;
	height: 1300px;
	max-height: 1800px;
}
#main{
    background-image: url("img/fondo-blanco.png");
	width: 50%;
	height: 1300px;
	max-height: 1800px;
	overflow: hidden;
    padding-left: 10px;
}

#aside{
	background-image: url("img/fondo-azul.png");
	width: 40%;
	max-height: 1300px;
	overflow: hidden;
}

.sec{
	margin-top: 10px;
}

.art{
	margin-top: 30px;
	color: black;
}

h1{
	font-size: 30px;
	color: #273F8A;
}
.art h2{
	font-size: 20px;
	color: #428bca;
}
.art h3,h4{
	margin: 15px;
}

.art h3{
	border-bottom:2px solid #1e252d;
	width: 80%;
	margin-top: 35px;
	color: black;
}

.art h4{
	color: #999999;
}
.art p{
	font-size: 20px;
	width: 90%;
	margin: 15px;
}
.p p{
	font-size: 18px;
	margin-left: 38px;
}

#aside aside{
	margin-top: 25px;
	margin-left: 20%;
	color: black;
}
#aside #especial{
	font-family: ArialBlack;
	font-size: 20px;
	margin-top: 30px;
	margin-bottom: 20px;
	border-bottom:2px solid black;
	width: 90%;
}
#aside #div-aside{
	margin-top: 15px;
}
#aside .skills{
	margin-left: 2%;
}
#aside img{
	width: 20px;
	height: 20px;
}

#aside .perfil{
	width: 300px;
	height: 300px;
	border-radius: 150px;
	margin-left: 7%;
}

