@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;}
    
/*Basico*/
body{
    font-family: 'Open Sans',sans-serif;
    color: #787878;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    background-color: #1e252d;
}

ol, ul {
	list-style: none;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Open Sans', Sans Sarif;
    font-weight: 600;
    line-height: 0.9;
	letter-spacing: 0.075em;
	text-transform: uppercase;
	margin: 0 0 1rem 0;
}

p{
	margin:0;
	padding:0;
	line-height: 24px;
	font-size: 14px;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: none;
}

a:hover,a:active,a:focus {
	outline: 0 !important;
}

hr{

}

:focus {
	outline:none;
}

::-moz-focus-inner {
	border:0;
}
/*
* CSS Básico end.
*/
#centro{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: right;
    align-items: flex-end;
}

#contenedor-principal{
    background-image: url("img/fondo.png");
    width: 50%;
    background-position: center;
}